
<h1> Hello world </h1>

<%# <h2 class="header"> Report an Issue</h2>
<div class="container">
<p id="notice"><%= notice %></p>
<%# <table class="table"> %>
 <!-- <thead>
    <tr>
      <th>ISSUE</th>
       <th>DETAILS</th>
        <th>EDIT</th>
         <th>DELETE</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= link_to '<span class="material-icons">arrow_forward</span>'.html_safe, report %></td>
        <td><%= link_to '<span class="material-icons">update</span>'.html_safe, edit_report_path(report) %></td>
        <td><%= link_to '<span class="material-icons">delete_forever</span>'.html_safe, report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
 <div> <h2 class="header"> <%= link_to 'Create New  ', new_report_path %> </h2> </div>  -->