<div>
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"><%= @report.title %></h5>
    <p class="card-text"><%= @report.description %>.</p>
   <%= link_to 'Edit', edit_report_path(@report), class:"btn btn-warning" %>
    <%= link_to 'Back', reports_path, class:"btn btn-info" %>
  </div>
</div>
</div>

<div class="comment">

     <%= link_to "Add New Comment", new_comment_path(:report_id => @report.id), { :class => "button waves-effect waves-light btn" } %>
    <% @comments.each do |comment| %>
    
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">COMMENT</h5>
    <p class="card-text"><%=comment.content %>.</p>
    </div>
    </div>
        
    <% end %>
</div>
  

