
<p id="notice"><%= notice %></p>

<h1 class="header">Places In Need</h1>
<div class="container">
<div class="place-table">
<table class="table">
  <thead>
    <tr>
      <th class="table-success">Name</th>
    <th class="table-success">Description</th>
      <th class="table-success">Latitude</th>
      <th class="table-success">Longitude</th>
        <th class="table-success">Details</th>
        <th class="table-success">Edit</th>
         <th class="table-success">Delete</th>
         <th class="table-success">Create Location <%= link_to '<span class="material-icons">add_location</span>'.html_safe, new_place_path %>  </th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.description %></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
        <td><%= link_to '<span class="material-icons">arrow_forward</span>'.html_safe, place %></td>
        <td><%= link_to '<span class="material-icons">update</span>'.html_safe, edit_place_path(place) %></td>
        <td><%= link_to '<span class="material-icons">delete_forever</span>'.html_safe, place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
        <%= link_to 'Directions', 
"https://www.google.com/maps/search/?api=1&query=#{place.latitude},#{place.longitude}"
%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


 <% @places.each do |place| %>
    <div id="map3">
  <% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
  
    document.addEventListener("DOMContentLoaded", function(){
      initMap3( <%= place.latitude %>, <%= place.longitude %>, '<%= place.name%>', '<%= place.description %>')
    });

  </script>
<% end %>

<% end %>

</div>



</div>